# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
venv/
env/
ENV/

# Distribution / packaging
.eggs/
dist/
build/
develop-eggs/
lib64/
parts/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.whl
MANIFEST

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/
.scrapy

# Jupyter Notebook
.ipynb_checkpoints/

# MyPy cache
.mypy_cache/

# Other
*.log
*.DS_Store
.env

*pdf